@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
:root{
    --white: #f9f9f9;
    --black: #293133;
    --gray: #696969;
    --green: #A4B465;
    --gran: #4682B4;
    --gray2: #A9A9A9;
    --gray3: #D3D3D3;
    --olive: #3d2b1f;

}
* {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #A52A2A black;
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", serif;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body{
    background-color: var(--black);
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}


a{
    text-decoration: none;
}
li{
    list-style: none;
}
.navbar{
    display: flex;
    padding: 15px;
    font-size: 24px;
    width: 100%;
    background-color: var(--black);
}

.nav-links a{
    color: var(--white);
}
.menu{
    display: flex;
    
}
.menu li{
    padding: 5px 25px;
    cursor: pointer;
}
.menu li a:hover{
    transition: all .3s;
    color: var(--gray3);
}
#side-menu {
    display: none;
}
.hamb{
    display: none;
    cursor: pointer;
}

.hamb-line{
    background-color: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}
.hamb-line::before,
.hamb-line::after {
    background-color: var(--white);
    content: '';
    display: block;
    position: absolute;
    transition: all .3s;
    width: 100%;
    height: 100%;
    
}
.hamb-line::before{
    top: 7px;
    
}
.hamb-line::after{
    top: -7px;
}
.logout{
    color: #b7625c;
}
.logo{
    font-size: 24px;
    margin: 0 75px 0 0;
    color: var(--white);
    cursor: pointer;
}
.glavnaya{
    display: flex;
    height: 40rem;
    width: 100%;
    background-color: var(--black);
    transition: all 0ms ease;
    z-index: 1;
    font-size: 3em;
    color: #fff;
    text-align: center;
}
.ecologia{
    position: relative;
    display: flex;
    padding: 20px;
    width: 100%;
    line-height: 20px;
    cursor: pointer;
    background: linear-gradient(90deg, #d2d057,#a8bf3d,#7aae27);
    border-radius: 20px;
    margin-top: 15px;
    font-size: 30px;
}
.blocker{
    width: 50vw;
    height: 75vh;
    border: 1px solid black;
    border-radius: 10px;
    background: #36383F;
}
.ecologia1{
    display: block;
}

.ecologia2{
    display: none;
}
.ecologia3{
    display: none;
}
.ecologia4{
    display: none;

}
.ecologia5{
    display: none;
}
.ecologia6{
    display: none;
}
.ecology7{
    display: none;
}
.ecology8{
    display: none;
}
.ecologia:hover{
    background: linear-gradient(90deg, #f2f2f2,#adb545);
}
.left-block{
    background: #36383F;
    position: relative;

    padding: 50px 60px;
    border: 1px solid black;
    border-radius: 20px;

}

.container{
    display: flex;
    position: relative;
    top: 20%;
}
.glavnaya2{
    display: flex;
    height: 40rem;
    width: 100%;
    background-color: var(--black);
    transition: all 0ms ease;
    z-index: 1;
    font-size: 3em;
    color: #fff;
    text-align: left;
}
.biologia{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--black);
    transition: all 0ms ease;
    z-index: 1;
}
@media screen and (max-width: 768px) {
    .logo{
        font-size: 24px;
        margin: 0 75% 0 0;
        color: var(--white);
        cursor: pointer;
        
    }
   .menu{
       display: none;
       max-height: 0;
       position: absolute;
       background-color: var(--gray);
       text-align: center;
       right: 0;
       left: 0;
       top: 0;
   }
   .menu li a{
       color: var(--white);
       display: block;
       padding: 5px;
   }
   .menu li{
       transition: all .5s; 
       width: 100%;
       margin-top: 50%;
       
   }
    .hamb{
    display: block;
    padding: 15px;
    z-index: 100;
    background-color: black;
    border: 1px solid gray;
    }
    
    #side-menu:checked ~ .menu {
       display: block;
       max-height: 100%;
       height: 100vh;
       transition: all .5s;
       top: 0;
       z-index: 1;
       
   }
    
   #side-menu:checked ~ .hamb .hamb-line::before {
       transform: rotate(-45deg);
       top: 0;
       z-index: 100;
       
   }
   #side-menu:checked ~ .hamb .hamb-line::after {
       transform: rotate(45deg);
       top: 0;
       z-index: 100;
   }
   #side-menu:checked ~ .hamb .hamb-line::before{
       display: block;
   }
   #side-menu:checked ~ .hamb .hamb-line::after{
       background-color: green;
       display: block;
   }
   .left-block{
    background: #36383F;
    position: relative;

    padding: 40px 30px;
    border: 1px solid black;
    border-radius: 20px;

}
    .container{
        top: 5%;
    }
    .blocker{
        width: 85vw;
        height: 80vh;
        margin-top: 20%;
    }
.ecologia{
    position: relative;
    display: flex;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background: linear-gradient(90deg, #d2d057,#a8bf3d,#7aae27);
    border-radius: 20px;
    margin-top: 10px;
    font-size: 30px;
}
}